@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #7F55B1;
  --color-primary-dull: #9B7EBD;
}

@font-face {
  font-family: new-look;
  src: url(./assets/Saira/Saira-VariableFont_wdth\,wght.ttf);
}



*{
   /* font-family:"new-look"; */
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #09090b;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator{
  filter: invert(1);
}